<ul class="menu bg-base-100 text-base-content w-full">
    <li class="menu-title text-base-content">🗂️ Database Tables</li>
    {{range .}}
    <li>
        <a class="text-base-content hover:bg-base-200" hx-get="/htmx/table/data/{{.Name}}" hx-target="#tab-content"
            hx-swap="innerHTML"
            _="on click remove .menu-active from <a/> in .menu then add .menu-active to me then set window.selectedTable to '{{.Name}}'">
            <span>📋</span>
            <div>
                <div class="font-semibold text-base-content">{{.Name}}</div>
                <div class="text-xs text-base-content opacity-70">{{.Count}} records</div>
            </div>
        </a>
    </li>
    {{end}}
</ul>